s2-status-bar {
  height: 24px;
  background-color: var(--base0D);
  color: var(--theme-text-color-knockout);
  font-weight: bold;
  font-size: 14px;

  padding: 0;
}

.stsbar-output {
  display: flex;
  align-items: center;
  height: 100%;
}

.stsbar-chip {
  padding: 0 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.stsbar-chip--change[data-is-dirty="false"] {
  background-color: var(--theme-success-background);
}
.stsbar-chip--change[data-is-dirty="true"] {
  background-color: var(--theme-warning-background);
}

.stsbar-chip--message[data-kind="warning"] {
  background-color: var(--theme-warning-background);
}
.stsbar-chip--message[data-kind="error"] {
  background-color: var(--theme-error-background);
}

.stsbar-spacer {
  flex: 1 0 auto;
}
