s2-reference-panel {
  background-color: var(--theme-background);
  padding: 16px 0;
}

s2-reference-panel:focus-within {
  outline: var(--theme-divider-width) solid var(--theme-outline-color);
  background-color: var(--theme-background-active);
}

.refpnl-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 8px;
}

.refpnl-link {
  text-decoration: none;
  padding: 0 16px;
  display: block;
  outline: none;
  color: var(--base04);
}

.refpnl-link:focus,
.refpnl-link:hover {
  color: var(--base0D);
  text-decoration: underline;
}
