:root {
  /* scheme: "Gruvbox dark, medium"
    author: "Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)" */
  --base00: #282828; /* ---- */
  --base01: #3c3836; /* --- */
  --base02: #504945; /* -- */
  --base03: #665c54; /* - */
  --base04: #bdae93; /* + */
  --base05: #d5c4a1; /* ++ */
  --base06: #ebdbb2; /* +++ */
  --base07: #fbf1c7; /* ++++ */
  --base08: #fb4934; /* red */
  --base09: #fe8019; /* orange */
  --base0A: #fabd2f; /* yellow */
  --base0B: #b8bb26; /* green */
  --base0C: #8ec07c; /* aqua/cyan */
  --base0D: #83a598; /* blue */
  --base0E: #d3869b; /* purple */
  --base0F: #d65d0e; /* brown */

  /* derived */
  --theme-background-rest: var(--base01);
  --theme-background-active: var(--base00);
  --theme-menu-option-background-rest: var(--base00);
  --theme-menu-option-background-alt: var(--base03); /* active but out of focus */
  --theme-menu-option-background-active: var(--base0D);
  --theme-text-color: var(--base06);
  --theme-text-selection-background: var(--base05);
  --theme-text-color-accent: var(--base09); /* non-interactive accents, e.g. tag prefix */
  --theme-text-color-secondary: var(--base03);
  --theme-text-color-knockout: var(--base00); /* used on solid color background */
  --theme-text-color-ghost: var(--base01); /* symbols, disabled content */
  --theme-divider-color: var(--base03);
  --theme-divider-width: 1px;
  --theme-outline-color: var(--base0D);
  --theme-tag-color: var(--base0A);
  --theme-link-color: var(--base0D);
  --theme-h1-color: var(--base0C);
  --theme-h2-color: var(--base0E);
  --theme-h3-color: var(--base0B);
  --theme-h4-color: var(--base0C);
  --theme-h5-color: var(--base0E);
  --theme-h6-color: var(--base0B);
  --theme-success-background: var(--base0C);
  --theme-warning-background: var(--base09);
  --theme-error-background: var(--base08);
  --theme-scrollbar-background: transparent;
  --theme-scrollbar-blur-thumb-rest: transparent;
  --theme-scrollbar-blur-thumb-hover: transparent;
  --theme-scrollbar-focus-thumb-rest: var(--base01);
  --theme-scrollbar-focus-thumb-hover: var(--base03);
}
