html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--theme-divider-color); /* negative space becomes gap */
  color: var(--theme-text-color);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: var(--theme-scrollbar-background);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 8px;
  height: 8px;
  border: 4px solid var(--theme-scrollbar-background);
  background-clip: padding-box;

  background-color: var(--theme-scrollbar-blur-thumb-rest);
}

:focus-within::-webkit-scrollbar-thumb {
  --thumb-color-rest: var(--theme-scrollbar-focus-thumb-rest);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-scrollbar-blur-thumb-hover);
}
:focus-within::-webkit-scrollbar-thumb {
  background-color: var(--theme-scrollbar-focus-thumb-hover);
}

::-webkit-scrollbar-corner {
  background-color: var(--theme-scrollbar-background);
}
