/* COMPONENTS */

#content-host {
  background-color: var(--theme-background-active);
  white-space: pre-wrap;
  font-family: monospace;
  outline: none;
  padding: 16px;
  caret-color: var(--theme-text-color);
}

#content-host * {
  caret-color: inherit;
}

[data-line="meta"] [data-meta-value="title"] {
  font-weight: 700;
}

[data-line="meta"] [data-meta-value="tags"] {
  color: var(--theme-tag-color);
}

[data-line="heading"][data-level="1"],
[data-line="heading"][data-level="4"] {
  color: var(--theme-h1-color);
}

[data-line="heading"][data-level="2"],
[data-line="heading"][data-level="5"] {
  color: var(--theme-h2-color);
}

[data-line="heading"][data-level="3"],
[data-line="heading"][data-level="6"] {
  color: var(--theme-h3-color);
}

[data-link] .link__title {
  font-weight: 700;
  color: var(--theme-link-color);
}

[data-link] .link__target {
  color: var(--theme-text-color-secondary);
  text-decoration: underline;
}

[data-link] .link__target:hover {
  color: var(--theme-link-color);
}
