/* COMPONENTS */

#content-host {
  background-color: var(--theme-background-active);
  white-space: break-spaces;
  word-break: break-all;
  font-family: monospace;
  outline: none;
  padding: 16px;
  caret-color: var(--theme-text-color);
}

#content-host * {
  caret-color: inherit;
}

[data-line] {
  display: flex;
}
[data-line] [data-indent] {
  flex: 0 0 auto;
}
[data-line] [data-wrap] {
  flex: 1 1 auto;
}

[data-line="meta"] [data-meta-value="title"] {
  font-weight: 700;
}
[data-line="meta"] [data-meta-value="title"] {
  color: var(--theme-title-color);
}

[data-line="heading"][data-level="1"],
[data-line="heading"][data-level="4"] {
  color: var(--theme-h1-color);
}

[data-line="heading"][data-level="2"],
[data-line="heading"][data-level="5"] {
  color: var(--theme-h2-color);
}

[data-line="heading"][data-level="3"],
[data-line="heading"][data-level="6"] {
  color: var(--theme-h3-color);
}

[data-link] .link__title {
  color: var(--theme-link-color);
}

[data-link] .link__target {
  color: var(--theme-text-color-secondary);
}

[data-link] .link__target:hover {
  color: var(--theme-link-color);
  text-decoration: underline;
}

[data-url] {
  color: var(--theme-link-color);
}

[data-url]:hover {
  text-decoration: underline;
}
