s2-status-bar {
  height: 32px;
  background-color: var(--base0D);
  color: var(--base00);
  font-weight: bold;

  padding: 0 16px;
}

.stsbar-output {
  display: flex;
  align-items: center;
  height: 100%;
}

.stsbar-spacer {
  flex: 1 0 auto;
}
