s2-status-bar {
  height: 24px;
  background-color: var(--base0D);
  color: var(--theme-text-color-knockout);
  font-weight: bold;
  font-size: 14px;

  padding: 0 16px;
}

.stsbar-output {
  display: flex;
  align-items: center;
  height: 100%;
}

.stsbar-spacer {
  flex: 1 0 auto;
}
