.s2-link__title {
  color: var(--base0D);
}

s2-link[data-cursor-in] .s2-link__title {
  text-decoration: underline;
}

.s2-link__symbol {
  color: var(--base03);
}

.s2-link__id {
  pointer-events: auto;

  color: var(--base03);
  text-decoration: none;
  outline: none;
}

.s2-link__id:hover {
  color: var(--base0D);
  text-decoration: underline;
}

s2-link[data-cursor-in] .s2-link__id {
  text-decoration: underline;
}
