s2-menu-row {
  background-color: var(--theme-menu-option-background-rest);
  font-family: monospace;
  height: 32px;
  padding: 0 16px;
  align-items: center;
  display: flex;
}

s2-menu-row[data-kind="header"] {
  color: var(--base0A);
  font-weight: bold;
}

s2-menu-row[data-kind="message"] {
  color: var(--theme-text-color-secondary);
}

s2-menu-row[data-kind="option"] {
  color: var(--theme-text-color);
  border: none;
  text-align: start;
  outline: none;
  border-radius: 0px;
}

s2-menu-row[data-kind="option"][data-active] {
  font-weight: bold;
  color: var(--theme-text-color-knockout);
  background-color: var(--theme-menu-option-background-active);
}

/* Single rows max */
.menu-row-content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
