s2-menu-row {
  background-color: var(--theme-menu-option-background-rest);
  font-family: monospace;
  height: 32px;
  padding: 0 16px;
  align-items: center;
  display: flex;
}

s2-menu-row[data-kind="header"] {
  color: var(--base0A);
  font-weight: bold;
}

s2-menu-row[data-kind="message"] {
  color: var(--theme-text-color-secondary);
}

s2-menu-row[data-kind="option"] {
  color: var(--theme-text-color);
  border: none;
  text-align: start;
  outline: none;
  border-radius: 0px;
}

s2-menu-row[data-kind="option"][data-active] {
  font-weight: bold;
  color: var(--theme-text-color-knockout);
  background-color: var(--theme-menu-option-background-active);
}

/* Single rows max */
.menu-row-content {
  display: grid;
  align-items: center;
  gap: 8px;
  grid-auto-flow: column;
}

.menu-row-content--title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-row-content--tags {
  display: flex;
  gap: 4px;
}

.tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4px;
  max-width: 50vw;
  overflow: hidden;
}

.tag-item {
  padding: 2px 4px;
  background-color: var(--base03);
  color: var(--base06);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
