s2-text-editor[data-debug] .text-editor-base {
  color: red;
  grid-area: split-left;
}
s2-text-editor[data-debug] s2-syntax-overlay {
  pointer-events: auto;
  grid-area: split-right;
}

s2-text-editor {
  min-height: 0px; /* make it shrinkable */

  background-color: var(--theme-background-rest);
  display: grid;
  grid-template: "split-left split-right" 1fr / 1fr;
}

s2-text-editor:focus-within {
  outline: var(--theme-divider-width) solid var(--theme-outline-color);
  background-color: var(--theme-background-active);
}

.text-editor-base {
  /* reset textarea */
  resize: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: auto; /* this prevents text cursor on scroll bar */

  color: transparent;
  caret-color: var(--base06);

  background-color: transparent;
}

.text-editor-shared {
  /* force two layers to stack */
  grid-column: 1 / -1;
  grid-row: 1/ -1;

  border: 16px solid transparent;
  border-bottom-width: 4px;
  border-right-width: 4px;
  font-family: monospace;
  font-size: 14px;
  overflow: auto;
  white-space: pre; /* no wrap, no collapse */
}

.text-editor-base::selection {
  color: var(--base03);
  background-color: var(--base06);
}
