s2-reference-panel {
  background-color: var(--theme-background-rest);
  overflow-y: scroll;
  font-family: monospace;
}

s2-reference-panel:focus-within {
  outline: var(--theme-divider-width) solid var(--theme-outline-color);
  background-color: var(--theme-background-active);
}

.refpnl-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.refpnl-list:empty {
  display: none;
}

.refpnl-link {
  text-decoration: none;
  padding: 6px 16px;
  outline: none;
  color: var(--theme-text-color);

  display: grid;
  align-items: center;
  gap: 8px;
  grid-auto-flow: column;
  justify-content: start;
}

.refpnl-link:is(:focus, :hover) {
  font-weight: bold;
  color: var(--theme-text-color-knockout);
  background-color: var(--theme-menu-option-background-active);
}
