.t--ghost {
  color: var(--theme-text-color-ghost);
}

.t--secondary {
  color: var(--theme-text-color-secondary);
}

.t--bold {
  font-weight: 700;
}

.t--single-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
