s2-line-overlay {
  display: block;
}

s2-line-overlay[data-is-heading="true"] {
  font-weight: bold;
}

s2-line-overlay[data-is-heading="true"][data-section-level="1"],
s2-line-overlay[data-is-heading="true"][data-section-level="4"] {
  color: var(--theme-h1-color);
}

s2-line-overlay[data-is-heading="true"][data-section-level="2"],
s2-line-overlay[data-is-heading="true"][data-section-level="4"] {
  color: var(--theme-h2-color);
}

s2-line-overlay[data-is-heading="true"][data-section-level="3"],
s2-line-overlay[data-is-heading="true"][data-section-level="6"] {
  color: var(--theme-h3-color);
}

.lnovly-layout-padding,
.lnovly-hidden-hash,
.lnovly-empty-placeholder {
  color: transparent;
}
