.s2-link-overlay__title {
  color: var(--base0D);
  font-weight: bold;
}

s2-link-overlay[data-cursor-in] .s2-link-overlay__title {
  text-decoration: underline;
}

.s2-link-overlay__symbol {
  color: var(--theme-text-color-ghost);
}

.s2-link-overlay__id {
  pointer-events: auto;

  color: var(--theme-text-color-ghost);
  text-decoration: none;
  outline: none;
}

.s2-link-overlay__id:hover {
  color: var(--base0D);
  text-decoration: underline;
}

s2-link-overlay[data-cursor-in] .s2-link-overlay__id {
  text-decoration: underline;
}
