body {
  display: grid;
  grid-template:
    "main" 1fr
    "bottom-panel" auto
    "footer" auto / 1fr;
  gap: var(--theme-divider-width);
  padding: var(--theme-divider-width);
}

s2-command-bar {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 100%;
  max-width: 640px;
  transform: translateX(-50%);
}

s2-text-editor {
  grid-area: main;
  min-height: 0; /* allow it to shrink */
}

s2-reference-panel {
  grid-area: bottom-panel;
  max-height: 25vh;
}

s2-status-bar {
  grid-area: footer;
  margin: calc(-1 * var(--theme-divider-width)); /* blend into gutter */
}
